<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.CollectInfoMapper">

    <!-- 分页获取收藏信息 -->
    <select id="selectCollectPage" resultType="java.util.LinkedHashMap">
        select
        ci.id,
        ci.user_id,
        ci.room_code,
        ci.create_date,
        ui.name as userName,
        ui.images as userImages,
        ri.name as roomName,
        ri.images,
        ri.floor,
        ri.room_size,
        rt.type_name
        from
        collect_info ci
        left join user_info ui on
        (ui.id = ci.user_id)
        left join room_info ri on
        (ri.code = ci.room_code)
        left join room_type rt on
        (rt.id = ri.`type`)
        where
        1 = 1
        <if test="collectInfo.roomName != null and collectInfo.roomName != ''">
            AND ri.name LIKE CONCAT('%',#{collectInfo.roomName},'%')
        </if>
        <if test="collectInfo.typeName != null and collectInfo.typeName != ''">
            AND rt.type_name LIKE CONCAT('%',#{collectInfo.typeName},'%')
        </if>
        <if test="collectInfo.userName != null and collectInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{collectInfo.userName},'%')
        </if>
        order by
        ci.create_date desc
    </select>
</mapper>
