<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.OrderInfoMapper">

    <!-- 分页获取订单信息 -->
    <select id="selectOrderPage" resultType="java.util.LinkedHashMap">
        select
        oi.id,
        oi.code,
        oi.room_code,
        oi.start_date,
        oi.end_date,
        oi.rent_day,
        oi.days,
        oi.total_price,
        oi.user_id,
        oi.create_date,
        oi.del_flag,
        oi.order_status,
        oi.recede_flag,
        ri.name,
        rt.type_name,
        ri.images,
        ui.name as userName,
        ui.id_card
        from
        order_info oi
        left join room_info ri on
        (ri.code = oi.room_code)
        left join room_type rt on
        (rt.id = ri.`type`)
        left join user_info ui on
        (ui.id = oi.user_id)
        where
        1 = 1
        and oi.del_flag = '0'
        <if test="orderInfo.code != null and orderInfo.code != ''">
            AND oi.code LIKE CONCAT('%',#{orderInfo.code},'%')
        </if>
        <if test="orderInfo.orderStatus != null and orderInfo.orderStatus != ''">
            AND oi.order_status LIKE CONCAT('%',#{orderInfo.orderStatus},'%')
        </if>
        <if test="orderInfo.name != null and orderInfo.name != ''">
            AND ri.name LIKE CONCAT('%',#{orderInfo.name},'%')
        </if>
        <if test="orderInfo.userName != null and orderInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{orderInfo.userName},'%')
        </if>
        <if test="orderInfo.userId != null and orderInfo.userId != ''">
            AND ui.user_id = #{orderInfo.userId}
        </if>
        order by
        oi.create_date desc
    </select>

    <!-- 根据日期获取订单信息 -->
    <select id="selectOrderByDate" resultType="cc.mrbird.febs.cos.entity.OrderInfo">
        select oi.*,
        DATE_FORMAT(oi.create_date, '%Y') AS year,
        DATE_FORMAT(oi.create_date, '%c') AS month
        from order_info oi where
        1 = 1
        <if test="year != null and year != ''">
            AND DATE_FORMAT(oi.create_date, '%Y') = #{year}
        </if>
        <if test="month != null and month != ''">
            AND DATE_FORMAT(oi.create_date, '%c') = #{month}
        </if>
    </select>

    <!-- 近十天收益统计 -->
    <select id="selectPriceByDay" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(SUM(oi.total_price), 0) AS price
        FROM
        (
        SELECT
        DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN order_info oi ON (
        DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
        )
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>

    <!-- 近十天工单统计 -->
    <select id="selectOrderNumByDay" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(COUNT(oi.id), 0) AS count
        FROM
        (
        SELECT
        DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN order_info oi ON (
        DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
        )
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>
</mapper>
