<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.OrderEvaluateMapper">

    <!-- 分页获取订单评价信息 -->
    <select id="selectEvaluatePage" resultType="java.util.LinkedHashMap">
        select
        oe.id,
        oe.order_code,
        oe.user_id,
        oe.score,
        oe.content,
        oe.images,
        oe.create_date,
        oe.del_flag,
        oi.start_date,
        oi.end_date,
        oi.total_price,
        oi.rent_day,
        oi.order_status,
        ri.name,
        ui.name as userName,
        ui.id_card
        from
        order_evaluate oe
        left join order_info oi on
        (oi.code = oe.order_code)
        left join room_info ri on
        (ri.code = oi.room_code)
        left join user_info ui on
        (ui.id = oe.user_id)
        where
        1 = 1
        and oe.del_flag = '0'
        <if test="orderEvaluate.orderCode != null and orderEvaluate.orderCode != ''">
            AND oe.order_code LIKE CONCAT('%',#{orderEvaluate.orderCode},'%')
        </if>
        <if test="orderEvaluate.name != null and orderEvaluate.name != ''">
            AND ri.name LIKE CONCAT('%',#{orderEvaluate.name},'%')
        </if>
        <if test="orderEvaluate.userName != null and orderEvaluate.userName != ''">
            AND ui.name LIKE CONCAT('%',#{orderEvaluate.userName},'%')
        </if>
        order by
        oe.create_date desc
    </select>
</mapper>
