<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.RoomTypeMapper">

    <!-- 分页获取房间类型信息 -->
    <select id="selectRoomTypePage" resultType="java.util.LinkedHashMap">
        select
        id,
        code,
        type_name,
        remark,
        images,
        create_date,
        del_flag
        from
        room_type
        where
        1 = 1
        and del_flag = '0'
        <if test="roomType.code != null and roomType.code != ''">
            AND code LIKE CONCAT('%',#{roomType.code},'%')
        </if>
        <if test="roomType.typeName != null and roomType.typeName != ''">
            AND type_name LIKE CONCAT('%',#{roomType.typeName},'%')
        </if>
        order by
        create_date desc
    </select>
</mapper>
