<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.RoomInfoMapper">

    <!-- 分页获取房间信息 -->
    <select id="selectRoomPage" resultType="java.util.LinkedHashMap">
        select
        ri.id,
        ri.code,
        ri.content,
        ri.images,
        ri.contact,
        ri.phone,
        ri.`type`,
        ri.floor,
        ri.room_size,
        ri.rent_price,
        ri.has_television,
        ri.has_air_conditioner,
        ri.has_wardrobe,
        ri.has_bed,
        ri.has_bathroom,
        ri.has_door_lock,
        ri.has_balcony,
        ri.has_heating,
        ri.has_refrigerator,
        ri.has_washing_machine,
        ri.has_water_heater,
        ri.has_broadband,
        ri.has_sofa,
        ri.has_range_hood,
        ri.has_gas_stoves,
        ri.has_cook,
        ri.name,
        ri.create_date,
        ri.del_flag,
        rt.type_name,
        rt.images
        from
        room_info ri
        left join room_type rt on
        (rt.id = ri.`type`)
        where
        1 = 1
        and ri.del_flag = '0'
        <if test="roomInfo.code != null and roomInfo.code != ''">
            AND ri.code LIKE CONCAT('%',#{roomInfo.code},'%')
        </if>
        <if test="roomInfo.type != null and roomInfo.type != ''">
            AND ri.type = #{roomInfo.type}
        </if>
        <if test="roomInfo.name != null and roomInfo.name != ''">
            AND ri.name LIKE CONCAT('%',#{roomInfo.name},'%')
        </if>
        order by
        ri.create_date desc
    </select>
</mapper>
