<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.StaffInfoMapper">

    <!-- 分页获取员工信息 -->
    <select id="selectStaffPage" resultType="java.util.LinkedHashMap">
        select
        si.id,
        si.code,
        si.name,
        si.sex,
        si.birthday,
        si.native_address,
        si.id_card,
        si.images,
        si.diploma,
        si.school_name,
        si.address,
        si.mail,
        si.phone,
        si.create_date,
        si.del_flag,
        si.dept_id,
        si.position_id,
        di.dept_name,
        poi.name as positionName
        from
        staff_info si
        left join dept_info di on
        (di.id = si.dept_id)
        left join position_info poi on
        (poi.id - si.position_id)
        where
        1 = 1
        and si.del_flag = '0'
        <if test="staffInfo.code != null and staffInfo.code != ''">
            AND si.code LIKE CONCAT('%',#{staffInfo.code},'%')
        </if>
        <if test="staffInfo.name != null and staffInfo.name != ''">
            AND si.name LIKE CONCAT('%',#{staffInfo.name},'%')
        </if>
        <if test="staffInfo.deptId != null and staffInfo.deptId != ''">
            AND si.dept_id = #{staffInfo.deptId}
        </if>
        <if test="staffInfo.positionId != null and staffInfo.positionId != ''">
            AND si.position_id = #{staffInfo.positionId}
        </if>
        order by
        si.create_date desc
    </select>
</mapper>
